openapi: "3.1.0"
info:
  title: ETP Custody Cloud API
  version: "1.0"
  description: >
    Multi-tenant, zero-knowledge notarization service. Clients seal artifacts
    locally and submit only public manifests; the service notarizes them into a
    per-tenant append-only RFC-6962 log and returns receipts that verify
    offline. Optional on-chain anchoring surfaces via /v1/anchors.
servers:
  - url: https://api.etp-custody.dev
components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      description: Tenant API key (etpk_…). Hashed at rest; revocable.
    adminToken:
      type: apiKey
      in: header
      name: X-Admin-Token
  schemas:
    Manifest:
      type: object
      required: [capture_id, originator_id, captured_at, content_hash, sealed_hash]
      properties:
        capture_id: { type: string }
        originator_id: { type: string }
        captured_at: { type: number }
        content_hash: { type: string, description: base64 SHA3-256 of plaintext }
        sealed_hash: { type: string, description: base64 SHA3-256 of sealed blob }
        originator_vk: { type: string, description: base64 ML-DSA vk ("" if unsigned) }
        originator_sig: { type: string }
        meta: { type: object, additionalProperties: { type: string } }
    Receipt:
      type: object
      description: Self-contained proof of custody (manifest + inclusion proof + STH).
      required: [format, manifest, inclusion_proof, signed_tree_head]
      properties:
        format: { type: string, const: etp-provenance-receipt/1 }
        manifest: { $ref: "#/components/schemas/Manifest" }
        inclusion_proof:
          type: object
          properties:
            leaf_index: { type: integer }
            tree_size: { type: integer }
            audit_path: { type: array, items: { type: string } }
            root: { type: string }
        signed_tree_head: { $ref: "#/components/schemas/STH" }
    STH:
      type: object
      properties:
        sequence: { type: integer }
        tree_size: { type: integer }
        timestamp: { type: number }
        root: { type: string }
        operator_vk: { type: string }
        signature: { type: string }
    Anchor:
      type: object
      properties:
        sth_sequence: { type: integer }
        root: { type: string }
        digest: { type: string, description: on-chain lookup key (bytes32, b64) }
        status: { type: string, enum: [pending, submitted, confirmed, failed] }
        tx_ref: { type: string, nullable: true }
        updated_at: { type: number }
    Error:
      type: object
      properties: { error: { type: string } }
paths:
  /healthz:
    get:
      summary: Liveness + totals
      responses:
        "200":
          content: { application/json: { schema: { type: object,
            properties: { status: {type: string}, captures: {type: integer} } } } }
  /v1/operator:
    get:
      summary: Operator verification key (pin this)
      responses:
        "200":
          content: { application/json: { schema: { type: object,
            properties: { operator_vk: { type: string } } } } }
  /v1/captures:
    post:
      summary: Notarize a manifest (metered)
      security: [{ apiKey: [] }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/Manifest" } } }
      responses:
        "201":
          content: { application/json: { schema: { $ref: "#/components/schemas/Receipt" } } }
        "400": { content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "401": { content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
  /v1/sth:
    get:
      summary: Tenant's latest signed tree head
      security: [{ apiKey: [] }]
      responses:
        "200": { content: { application/json: { schema: { $ref: "#/components/schemas/STH" } } } }
        "404": { content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
  /v1/proof/{index}:
    get:
      summary: Tenant-scoped inclusion proof
      security: [{ apiKey: [] }]
      parameters:
        - { name: index, in: path, required: true, schema: { type: integer } }
      responses:
        "200":
          content: { application/json: { schema: { type: object } } }
        "404": { content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
  /v1/usage:
    get:
      summary: Billable capture count for this key's tenant
      security: [{ apiKey: [] }]
      responses:
        "200":
          content: { application/json: { schema: { type: object,
            properties: { captures: { type: integer } } } } }
  /v1/anchors:
    get:
      summary: On-chain anchor lifecycle for this tenant
      security: [{ apiKey: [] }]
      responses:
        "200":
          content: { application/json: { schema:
            { type: array, items: { $ref: "#/components/schemas/Anchor" } } } }
  /v1/admin/tenants:
    post:
      summary: Create a tenant and its first API key
      security: [{ adminToken: [] }]
      requestBody:
        required: true
        content: { application/json: { schema: { type: object,
          required: [name],
          properties: { name: {type: string}, webhook_url: {type: string} } } } }
      responses:
        "201":
          content: { application/json: { schema: { type: object,
            properties: { tenant_id: {type: string},
                          api_key: {type: string, description: shown once} } } } }
        "401": { content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
